USE [master]
GO
/****** Object:  Database [EUB201Final/RezervasyonProjesi]    Script Date: 18.01.2022 22:23:46 ******/
CREATE DATABASE [EUB201Final/RezervasyonProjesi]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EUB201Final_RezervasyonProjesi', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\EUB201Final_RezervasyonProjesi.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EUB201Final_RezervasyonProjesi_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\EUB201Final_RezervasyonProjesi_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EUB201Final/RezervasyonProjesi].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EUB201Final/RezervasyonProjesi]
GO
/****** Object:  Table [dbo].[RezervasyonTablosu]    Script Date: 18.01.2022 22:23:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RezervasyonTablosu](
	[RezNo] [int] NOT NULL,
	[Adı] [varchar](50) NOT NULL,
	[Soyadı] [varchar](50) NOT NULL,
	[CepNo] [varchar](50) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[Semt] [varchar](50) NULL
) ON [PRIMARY]
GO
USE [master]
GO
